{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Python Getting Started on Heroku</title>

<!-- bootstrap stuff -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style type="text/css">
.jumbotron {
    background: #532f8c;
    color: white;
    padding-bottom: 80px
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7
}
.jumbotron .btn-primary:hover {
    background: #7646c1
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em
}
.navbar+.jumbotron {
    margin-top: -20px
}
.jumbotron .lang-logo {
    display: block;
    background: #b01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white
}
.jumbotron .lang-logo img {
    max-width: 100%
}
</style>

<!-- flot stuff -->
<link href="{% static 'jqueryflot.css' %}" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="{% static 'jqueryflot.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'jqueryflottime.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'jqueryflotaxislabels.js' %}"></script>
<script type="text/javascript">

</script>

<!-- jQuery Map jqvmap -->
<link href="{% static 'jqvmap.css' %}" media="screen" rel="stylesheet" type="text/css"/>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>-->
<script type="text/javascript" src="{% static 'jqueryvmap.js' %}"></script>
<script type="text/javascript" src="{% static 'jqueryvmapusa.js' %}" charset="utf-8"></script>

<script>
    var eachGraphOptions = {
        series: {
            lines: {
                show: true
            },
            points: {
                show: true
            }
        },
        grid: {
            hoverable: false
        },
        xaxis: {
            mode: "time"
        },
        yaxis: {
            min: -10,
            max: 110
        }
    }

    jQuery(document).ready(function () {

        // One for Democrats
        jQuery('#vmapDemocrat').vectorMap({
        map: 'usa_en',
        enableZoom: false,
        showTooltip: true,
        selectedColor: null,
        hoverColor: '#C9DFAF',
        onRegionClick: function(event, code, region){
            $.post(
                "#",
                {'stateLongName':region, 'stateChosen':code, 'partyChosen':'D','csrfmiddlewaretoken': '{{ csrf_token }}',},
                function(data, status){
                    // Clear previous charts
                     $('#graphsDemocrat').html("");
                
                    stateLongName = data.stateLongName
                    allCandidatesData = data.allCandidatesData
                
                    // loop through each candidate in chosen state and party
                    for (i = 0; i < allCandidatesData.length; i++){
                
                        eachCandidate = allCandidatesData[i];
                        
                        // get explanation numbers data
                        var totalSpentPoll, totalReturnPoll, totalRiskPoll, totalTradesPoll;
                        [totalSpentPoll, totalReturnPoll, totalRiskPoll, totalTradesPoll] =JSON.parse("[" + eachCandidate.investmentDataPoll + "]");
                        var totalSpentPlus, totalReturnPlus, totalRiskPlus, totalTradesPlus;
                        [totalSpentPlus, totalReturnPlus, totalRiskPlus, totalTradesPlus] =JSON.parse("[" + eachCandidate.investmentDataPlus + "]");
                
                        // do something with returned data
                        $('#graphsDemocrat').append('<span id="candidateName"><b>'+eachCandidate.candidate+'</b></span> in <span id="stateChosen">'+stateLongName+'</span>'+
                        "<div class='graphExplain'>If always betting according to 538 poll, you would execute "+totalTradesPoll+" number of trades, spend $"+totalSpentPoll+", and get a return of $"+totalReturnPoll+". The maximum potential loss[info icon] could be up to $"+totalRiskPoll+".</div>"+
                        "<div class='graphExplain'>If always betting according to 538 poll plus [info icon], you would execute "+totalTradesPlus+" number of trades, spend $"+totalSpentPlus+", and get a return of $"+totalReturnPlus+". The maximum potential loss[info icon] could be up to $"+totalRiskPlus+".</div>"
                        );
                        
                        // Graphing the lines 
                        var plot = $.plot( $('<div class="eachGraph"></div>').appendTo('#graphsDemocrat'), 
                            eachCandidate.graphs, eachGraphOptions);
                        
                    }    
                    
                }
            );
            
            /*
            // buggy hovering, works on other side, none if just predict wise
            $(".eachGraph").bind("plothover", function(event, pos,item){
                if (item){
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);
                    var date = new Date(x);
                    $("#tooltip").html(y+"% at "+x)
                    .css({top: item.pageY+5, left: item.pageX+5})
                    .fadeIn(200);
                } else {
                    $("#tooltop").hide();
                }
            });
            */
        }
    });
    
    // One for Republicans
    jQuery('#vmapRepublican').vectorMap({
        map: 'usa_en',
        enableZoom: false,
        showTooltip: true,
        selectedColor: null,
        hoverColor: '#C9DFAF',
        onRegionClick: function(event, code, region){
            $.post(
                "#",
                {'stateLongName':region, 'stateChosen':code, 'partyChosen':'R','csrfmiddlewaretoken': '{{ csrf_token }}',},
                function(data, status){
                    // Clear previous charts
                     $('#graphsRepublican').html("");
                
                    stateLongName = data.stateLongName
                    allCandidatesData = data.allCandidatesData
                
                    // loop through each candidate in chosen state and party
                    for (i = 0; i < allCandidatesData.length; i++){
                
                        eachCandidate = allCandidatesData[i];
                        
                        // get explanation numbers data
                        var totalSpentPoll, totalReturnPoll, totalRiskPoll, totalTradesPoll;
                        [totalSpentPoll, totalReturnPoll, totalRiskPoll, totalTradesPoll] =JSON.parse("[" + eachCandidate.investmentDataPoll + "]");
                        var totalSpentPlus, totalReturnPlus, totalRiskPlus, totalTradesPlus;
                        [totalSpentPlus, totalReturnPlus, totalRiskPlus, totalTradesPlus] =JSON.parse("[" + eachCandidate.investmentDataPlus + "]");
                        
                
                        // do something with returned data
                        $('#graphsRepublican').append('<span id="candidateName"><b>'+eachCandidate.candidate+'</b></span> in <span id="stateChosen">'+stateLongName+'</span>'+
                        "<div class='graphExplain'>If always betting according to 538 poll, you would execute "+totalTradesPoll+" number of trades, spend $"+totalSpentPoll+", and get a return of $"+totalReturnPoll+". The maximum potential loss[info icon] could be up to $"+totalRiskPoll+".</div>"+
                        "<div class='graphExplain'>If always betting according to 538 poll plus [info icon], you would execute "+totalTradesPlus+" number of trades, spend $"+totalSpentPlus+", and get a return of $"+totalReturnPlus+". The maximum potential loss[info icon] could be up to $"+totalRiskPlus+".</div>"
                        );
                        
                        // Graphing the lines 
                        var plot = $.plot( $('<div class="eachGraph"></div>').appendTo('#graphsRepublican'), 
                            eachCandidate.graphs, eachGraphOptions);
                        
                        $("<div id='tooltip'></div>").css({
                            position: "absolute",
                            display: "none",
                            border: "1px solid #fdd",
                            padding: "2px",
                            "background-color": "#fee",
                            opacity: 0.80
                        }).appendTo("body");
                        
                    }    
                    
                }
            );

            /*
            // buggy hovering, works on other side, none if just predict wise
            $(".eachGraph").bind("plothover", function(event, pos,item){
                if (item){
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);
                    var date = new Date(x);
                    $("#tooltip").html(y+"% at "+x)
                    .css({top: item.pageY+5, left: item.pageX+5})
                    .fadeIn(200);
                } else {
                    $("#tooltop").hide();
                }
            });
            */
        }
    });
     
    
  });
  
</script>



</head>

<!-- Header on each page -->
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
<div class="container">
<ul class="nav navbar-nav">
  <li class="active">
    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
  </li>
  <li>
    <a href="/info"><span class="glyphicon glyphicon-info-sign"></span> Information</a>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li class="navbar-right">
    <a href="/sourcecode"></span>Source Code</a>
  </li>
</ul>
</div>
</nav>

{% block content %}{% endblock %}

</body>
</html>
