{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Homepage</h1>
  </div>
</div>
<div class="container">
  <div>
    <h3><span class="glyphicon glyphicon-info-sign"></span> Data Analysis Graphs</h3>
	More to come
	<div id="returnedData"></div>
	hee {{message}} tee
	{{mydata}}
	
	<hr />
	
	Working here
	<br />
    <a type="button" class="btn btn-lg btn-default" href="#">California</a>
    <div id="vmap" style="width: 300px; height: 200px;"></div>
	<br />
	End Working here 
	<hr />
	<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<p>One of the goals of Flot is to support user interactions. Try pointing and clicking on the points.</p>

		<p>
			<label><input id="enablePosition" type="checkbox" checked="checked"></input>Show mouse position</label>
			<span id="hoverdata"></span>
			<span id="clickdata"></span>
		</p>

		<p>A tooltip is easy to build with a bit of jQuery code and the data returned from the plot.</p>

		<p><label><input id="enableTooltip" type="checkbox" checked="checked"></input>Enable tooltip</label></p>
	</div>

	<p>You don't have to do much to get an attractive plot.  Create a placeholder, make sure it has dimensions (so Flot knows at what size to draw the plot), then call the plot function with your data.</p>
  </div>
</div>  
{% endblock %}
