{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<!-- jQuery Map jqvmap -->
<link href="{% static 'jqvmap.css' %}" media="screen" rel="stylesheet" type="text/css"/>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>-->
<script type="text/javascript" src="{% static 'jqueryvmap.js' %}"></script>
<script type="text/javascript" src="{% static 'jqueryvmapusa.js' %}" charset="utf-8"></script>

<!-- custom vmap and flot -->
<script type="text/javascript">
    var eachGraphOptions = {
        series: {
            lines: {
                show: true
            },
            points: {
                show: true
            }
        },
        grid: {
            hoverable: false
        },
        xaxis: {
            mode: "time"
        },
        yaxis: {
            axisLabel: "Winning Probability",
            min: -10,
            max: 110
        }
    }

    jQuery(document).ready(function () {
    
        // Hides allStatesText at beginning
        $('.allStatesText').hide();    

    
        // One for Democrats
        jQuery('#vmapDemocrat').vectorMap({
            map: 'usa_en',
            enableZoom: false,
            showTooltip: true,
            selectedColor: null,
            backgroundColor: '#ffffff',
            color: '#ABE8F0',
            borderColor: '#ffffff',
            hoverColor: '#C6F8FF',
            onRegionClick: function(event, code, region){
                $.post(
                    "#",
                    {'stateLongName':region, 'stateChosen':code, 'partyChosen':'D','csrfmiddlewaretoken': '{{ csrf_token }}',},
                    function(data, status){
                        // Clear previous charts
                        $('#graphsDemocrat').html("");
                        // Show allStatesText
                        $('.allStatesText').show();
                    
                        stateLongName = data.stateLongName;
                        allCandidatesData = data.allCandidatesData;
                        
                        winner= data.winner;
                    
                        // loop through each candidate in chosen state and party
                        for (i = 0; i < allCandidatesData.length; i++){
                    
                            eachCandidate = allCandidatesData[i];
                            
                            // get explanation numbers data
                            var totalSpentPoll, totalReturnPoll, totalRiskPoll, totalTradesPoll;
                            [totalSpentPoll, totalReturnPoll, totalRiskPoll, totalTradesPoll] =JSON.parse("[" + eachCandidate.investmentDataPoll + "]");
                            var totalSpentPlus, totalReturnPlus, totalRiskPlus, totalTradesPlus;
                            [totalSpentPlus, totalReturnPlus, totalRiskPlus, totalTradesPlus] =JSON.parse("[" + eachCandidate.investmentDataPlus + "]");
                    
                            // do something with returned data
                            
                            // Text section
                            candidateNameHTML = '<div class="candidateSection"><h3>';
                            
                            // Redundant logic now because winners are listed first now.
                            if (eachCandidate.candidate == winner){
                                candidateNameHTML += '<i class="fa fa-trophy" aria-hidden="true"></i>';
                            }
                            
                            textSummary = "";
                            
                            if (totalTradesPoll == 0){
                                textSummary += "538 did not make any predictions on this state.";
                            } else {
                                // There is 538 betting
                                
                                // Did you win?
                                pollsonlyDiff = totalReturnPoll - totalSpentPoll;       
                                if (pollsonlyDiff > 0){
                                    // polls-only won
                                    textSummary += "<div class='graphExplain youWon'>Using 538 <b>polls-only</b>, you'd <b>make $"+pollsonlyDiff+"</b> by spending $"+totalSpentPoll+" and getting $"+totalReturnPoll+" from "+totalTradesPoll+" trades.</div>";
                                } else {
                                    // polls-only lost
                                    pollsonlyDiff = pollsonlyDiff*-1;
                                    textSummary += "<div class='graphExplain youLost'>Using 538 <b>polls-only</b>, you'd <b>lose $"+pollsonlyDiff+"</b> by spending $"+totalSpentPoll+" and getting $"+totalReturnPoll+" from "+totalTradesPoll+" trades.</div>";
                                }
                                
                                pollsplusDiff = totalReturnPlus - totalSpentPlus;
                                if (pollsplusDiff > 0){
                                    // polls-plus won
                                    textSummary += "<div class='graphExplain youWon'>Using 538 polls-<b>plus</b>, you'd <b>make $"+pollsplusDiff+"</b> by spending $"+totalSpentPlus+" and getting $"+totalReturnPlus+" from "+totalTradesPlus+" trades.</div>";
                                } else {
                                    // polls-plus lost
                                    pollsplusDiff = pollsplusDiff*-1;
                                    textSummary += "<div class='graphExplain youLost'>Using 538 polls-<b>plus</b>, you'd <b>lose $"+pollsplusDiff+"</b> by spending $"+totalSpentPlus+" and getting $"+totalReturnPlus+" from "+totalTradesPlus+" trades.</div>";
                                }
                            }
                            
                            $('#graphsDemocrat').append(candidateNameHTML+'<span id="candidateName"><b>'+eachCandidate.candidate+'</b></span> in <span id="stateChosen">'+stateLongName+'</span></h3>'+textSummary);
                            
                            // Graphing the lines 
                            var plot = $.plot( $('<div class="eachGraph"></div>').appendTo('#graphsDemocrat'), 
                                eachCandidate.graphs, eachGraphOptions);
                            
                        }    
                        
                    }
                );
                
                /*
                // buggy hovering, works on other side, none if just predict wise
                $(".eachGraph").bind("plothover", function(event, pos,item){
                    if (item){
                        var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);
                        var date = new Date(x);
                        $("#tooltip").html(y+"% at "+x)
                        .css({top: item.pageY+5, left: item.pageX+5})
                        .fadeIn(200);
                    } else {
                        $("#tooltop").hide();
                    }
                });
                */
            }
        });
        
        // highlight Democratic states with 538 data
        blueStates = {};
        var statesList = ["ca","nv","ok","tx","ia","ar","la","mo","ms","wv","ga","nj","vt","mi","wi","il","in","tn","al","fl","oh","va","nc","sc","ga","md","pa","ny","ma","ct","ri","nh"];
        for (var i=0; i < statesList.length; i++){
            blueStates[statesList[i]] = 'blue';
            jQuery('#vmapDemocrat').vectorMap('set', 'colors', blueStates);
            
        }
        
        
        // One for Republicans
        jQuery('#vmapRepublican').vectorMap({
            map: 'usa_en',
            enableZoom: false,
            showTooltip: true,
            selectedColor: null,
            backgroundColor: '#ffffff',
            color: '#FFDADA',
            borderColor: '#ffffff',
            hoverColor: '#FFEEEE',
            onRegionClick: function(event, code, region){
                $.post(
                    "#",
                    {'stateLongName':region, 'stateChosen':code, 'partyChosen':'R','csrfmiddlewaretoken': '{{ csrf_token }}',},
                    function(data, status){
                        // Clear previous charts
                        $('#graphsRepublican').html("");
                        // Show allStatesText
                        $('.allStatesText').show();
                    
                        stateLongName = data.stateLongName;
                        allCandidatesData = data.allCandidatesData;
                        
                        // Empty data (only occurs in Republicans)
                        if (allCandidatesData.length == 0){
                            $('#graphsRepublican').html(stateLongName+" has no data. Pick another state.");
                            return;
                        }
                        
                        winner= data.winner;
                    
                        // loop through each candidate in chosen state and party
                        for (i = 0; i < allCandidatesData.length; i++){
                    
                            eachCandidate = allCandidatesData[i];
                            
                            // get explanation numbers data
                            var totalSpentPoll, totalReturnPoll, totalRiskPoll, totalTradesPoll;
                            [totalSpentPoll, totalReturnPoll, totalRiskPoll, totalTradesPoll] =JSON.parse("[" + eachCandidate.investmentDataPoll + "]");
                            var totalSpentPlus, totalReturnPlus, totalRiskPlus, totalTradesPlus;
                            [totalSpentPlus, totalReturnPlus, totalRiskPlus, totalTradesPlus] =JSON.parse("[" + eachCandidate.investmentDataPlus + "]");
                            
                    
                            // do something with returned data
                            
                            // Text section
                            candidateNameHTML = '<div class="candidateSection"><h3>';
                            
                            if (eachCandidate.candidate == winner){
                                candidateNameHTML += '<i class="fa fa-trophy" aria-hidden="true"></i>';
                            }
                            
                            textSummary = "";
                            
                            if (totalTradesPoll == 0){
                                textSummary += "538 did not make any predictions on this state.";
                            } else {
                                // There is 538 betting
                                
                                // Did you win?
                                pollsonlyDiff = totalReturnPoll - totalSpentPoll;       
                                if (pollsonlyDiff > 0){
                                    // polls-only won
                                    textSummary += "<div class='graphExplain youWon'>Using 538 <b>polls-only</b>, you'd <b>make $"+pollsonlyDiff+"</b> by spending $"+totalSpentPoll+" and getting $"+totalReturnPoll+" from "+totalTradesPoll+" trades.</div>";
                                } else {
                                    // polls-only lost
                                    pollsonlyDiff = pollsonlyDiff*-1;
                                    textSummary += "<div class='graphExplain youLost'>Using 538 <b>polls-only</b>, you'd <b>lose $"+pollsonlyDiff+"</b> by spending $"+totalSpentPoll+" and getting $"+totalReturnPoll+" from "+totalTradesPoll+" trades.</div>";
                                }
                                
                                pollsplusDiff = totalReturnPlus - totalSpentPlus;
                                if (pollsplusDiff > 0){
                                    // polls-plus won
                                    textSummary += "<div class='graphExplain youWon'>Using 538 polls-<b>plus</b>, you'd <b>make $"+pollsplusDiff+"</b> by spending $"+totalSpentPlus+" and getting $"+totalReturnPlus+" from "+totalTradesPlus+" trades.</div>";
                                } else {
                                    // polls-plus lost
                                    pollsplusDiff = pollsplusDiff*-1;
                                    textSummary += "<div class='graphExplain youLost'>Using 538 polls-<b>plus</b>, you'd <b>lose $"+pollsplusDiff+"</b> by spending $"+totalSpentPlus+" and getting $"+totalReturnPlus+" from "+totalTradesPlus+" trades.</div>";
                                }
                                
                            }
                                
                            $('#graphsRepublican').append(candidateNameHTML+'<span id="candidateName"><b>'+eachCandidate.candidate+'</b></span> in <span id="stateChosen">'+stateLongName+'</span></h3>'+textSummary);
                            
                            
                            // Graphing the lines 
                            var plot = $.plot( $('<div class="eachGraph"></div>').appendTo('#graphsRepublican'), 
                                eachCandidate.graphs, eachGraphOptions);
                            
                            $("<div id='tooltip'></div>").css({
                                position: "absolute",
                                display: "none",
                                border: "1px solid #fdd",
                                padding: "2px",
                                "background-color": "#fee",
                                opacity: 0.80
                            }).appendTo("body");
                            
                        }    
                        
                    }
                );

                /*
                // buggy hovering, works on other side, none if just predict wise
                $(".eachGraph").bind("plothover", function(event, pos,item){
                    if (item){
                        var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);
                        var date = new Date(x);
                        $("#tooltip").html(y+"% at "+x)
                        .css({top: item.pageY+5, left: item.pageX+5})
                        .fadeIn(200);
                    } else {
                        $("#tooltop").hide();
                    }
                });
                */
            }
        });
        
        // highlight Republican states with 538 data
        redStates = {};
        var statesList = ["ca","nv","ok","tx","ia","ar","la","ut","az","ks","mi","wi","il","in","tn","al","fl","oh","va","nc","sc","ga","md","pa","ny","ma","ct","ri","nh"];
        for (var i=0; i < statesList.length; i++){
            redStates[statesList[i]] = 'red';
            jQuery('#vmapRepublican').vectorMap('set', 'colors', redStates);
            
        }

    });
  
</script>


<!-- page template -->
<div class="jumbotron text-center">
    <div class="container">
        <h1>538 vs Prediction Markets</h1>
        <h2>If always betting according to 538</h2>
        <h2>would you win or lose $$ on PredictWise?</h2>
    </div>
</div>

<div class="container">
    <div class="row">
  
  
        <div class="col-md-6">
            <h2 class="mapTitle"><b>Democratic Primaries</b></h2>
            <div id="vmapDemocrat"></div>
            <div id="graphsDemocrat"><b>Choose a state to bet in!</b></div>
        </div>
        
        
        <div class="col-md-6">
            <h2 class="mapTitle"><b>Republican Primaries</b></h2>
            <div id="vmapRepublican"></div>
            <div id="graphsRepublican"><b>Choose a state to bet in!</b></div>
        </div>
    
    
    </div>
  
    <div id="bottomStuff">
        <a href="/info">
            <div id="bottomQuestion" class="allStatesText alert alert-info text-center" role="alert">
                <b>Explanation and Information</b>
            </div>
        </a>
        <a href="/info/#metricBpartII">
            <div id="bottomBets" class="allStatesText alert alert-success text-center" role="alert">
                <b>Would I win or lose $$ overall?</b>
            </div>
        </a>
    </div>
</div> 

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84582463-1', 'auto');
  ga('send', 'pageview');

</script>
 
{% endblock %}
