/****************************/
/*********** all ************/
/****************************/

.jumbotron {
    background: #ffffff;
    color: black;
}

/*
 * .expandsection is a div that whenever one
 * hovers over it, the .moreinfo section is shown.
 *
 * The .hoverover can be added to let the user know
 * that the section is expandable
 */
.expandsection{
    background-color: #fce8da;
    padding: 0 10px;
}
.expandsection .hoverover {
    text-align: center;
    font-style: italic;
    cursor: pointer; cursor: hand;
}
.expandsection .moreinfo {
    display: none;
}
.expandsection:hover .moreinfo {
    display: inline;
}

/* move legend to left */
.legend > div, .legend > table {
    left: 70px;
} 


/**********************************/
/************ homepage ************/
/**********************************/

.mapTitle {
    width: 60%;
    margin: 0 auto; 
}

#vmapDemocrat, #vmapRepublican {
    width: 550px; 
    height: 370px;
}

.candidateSection {
    margin: 5px;
}
.eachGraph {
    width: 550px;
    height: 350px;
    margin-bottom: 10px;
    /*position: relative;
    left: -40px;*/
}

.fa-trophy {
    padding-right: 10px;
}

#bottomStuff a:hover {
    text-decoration: none;
}
.allStatesText {
    margin-top: 20px;
}
#bottomQuestion:hover {
    background-color: #0000ff;
    color: white;
}
#bottomBets:hover {
    text-decoration: none;
    background-color: #00b300;
    color: #ffffb3;
}

/**********************************/
/********* info.html **************/
/**********************************/
.col-centered{
    float: none;
    margin: 0 auto;
}

.infoPage h1 {
    padding-top: 35px;
    padding-bottom: 20px;
}

.infoPage h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}
.infoGraphs {
    margin-top: 50px;
    margin-bottom: 20px;
}
#pollData, #pollDiffData {
    width: 700px;
    height: 500px;
}